@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Grenze+Gotisch:wght@100..900&family=Merienda:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", cursive;
}
:root {
  --clr1: #e0b0ff;
  --clr2: #1b1b1b;
}
button {
  cursor: url(img/cursorHand.png), auto !important;
}
a {
  cursor: url(img/cursorHand.png), auto !important;
}
body {
  background-color: var(--clr2);
  max-width: 100%;
  overflow-x: hidden;
  cursor: url(img/cursorPointer2.png), pointer;
}
.home {
  height: 100vh;
  width: 100%;
}

.home .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17rem;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  flex-wrap: wrap;
  position: fixed;
  /* right: -3rem; */
  animation: fadeInUp 1000ms linear forwards;
  /* margin-bottom: -1rem; */
  z-index: 2000;
}
.home .nav .heading {
  /* color: var(--clr1); */
  background: linear-gradient(to right, #f32170, #cf23cf, #e0b0ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.home .nav .navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1rem;
  cursor: url(img/cursorHand.png), auto !important;
}
.home .sidebar .sideBarLinks {
  display: none;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 1rem;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  background: #29262ce6;
  width: 100%;
  height: 500px;
  z-index: 9999;
  animation: leftToRight 800ms linear forwards;
  position: fixed;
}
.home .sidebar .sideBarLinks li a {
  text-decoration: none;
  color: var(--clr1);
  font-size: 2rem;
  cursor: url(img/cursorHand.png), auto !important;
}
.home .nav ul li a {
  text-decoration: none;
  color: var(--clr1);
  cursor: url(img/cursorHand.png), auto !important;
}
.home .nav ul li a:hover {
  border-bottom: 4px dotted;
  transition: 0.5s ease-in-out;
}

.bi-list {
  display: none;
  color: var(--clr1);
}
.homeDetails {
  display: grid;
  grid-template-columns: 3fr 4fr;
  position: relative;
  top: 5rem;
}

.homeDetails .homeImg {
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3rem;
  left: 6rem;
}
.homeDetails .homeImg img {
  width: 100%;
  height: 100%;
  border: 10px solid black;
  border-radius: 50%;
  box-shadow: 0 0 19px 9px #e0b0ff;
  animation: leftToRight 800ms linear forwards;
}

.homeDetails .homeImg img:hover {
  transition: 0.5s;
  box-shadow: 0 0 39px 9px #e0b0ff;
}

.homeDetails .homeInfo {
  position: relative;
  top: 7rem;
  animation: rightToLeft 1000ms linear forwards;
}
.homeDetails .homeInfo .btn {
  width: 10rem;
  height: 2.6rem;
  background-color: var(--clr1);
  color: var(--clr2);
  font-size: 1.3rem;
  box-shadow: 0 0 12px beige;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 12px;
  margin: 1.1rem 1rem;
}
.homeDetails .homeInfo .btn:hover {
  width: 10rem;
  height: 2.6rem;
  background-color: var(--clr2);
  color: var(--clr1);
  font-size: 1.3rem;
  box-shadow: 0 0 12px beige;
  border: 2px solid pink;
  cursor: pointer;
  transition: 0.5s ease-out;
  border-radius: 12px;
  margin: 1.1rem 1rem;
}
.homeDetails .homeInfo p {
  color: grey;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.homeDetails .homeInfo .socialLinks svg {
  background-color: var(--clr1);
  padding: 3px;
  border-radius: 50%;
  border: 3px solid black;
}
.homeDetails .homeInfo .socialLinks svg:hover {
  background-color: var(--clr2);
  padding: 3px;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
  bottom: 12px;
  transform: scale(1.2);
}
.homeDetails .homeInfo .socialLinks {
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.5rem;
}
.homeDetails .homeInfo #myName {
  color: var(--clr1);
  font-size: 5rem;
  font-family: "Grenze Gotisch", serif;
}

/* about page  */
.about {
  width: 100%;
  height: 100vh;
}
.about .aboutContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 1rem 2rem;
  grid-gap: 11rem;
}
.about .aboutContainer .aboutDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
}
.about .aboutContainer .aboutDetails p {
  font-size: 1.3rem;
  color: gray;
}
.about .aboutContainer .aboutDetails h3 {
  font-size: 4rem;
  color: var(--clr1);
}
.about .aboutContainer .aboutImg {
  width: 300px;
  height: 370px;
  margin: 0 auto;
}
.about .aboutContainer .aboutImg img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 10px #e0b0ff);
}

/* projects page  */
.projects {
  width: 100%;
  height: 100vh;
}
.projects .projectsDetails {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 2rem;
}
.projects .projectsDetails .projectContainer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 3rem;
  padding: 2rem 3rem;
}
.projects .projectsDetails h3 {
  text-align: center;
  font-size: 3rem;
  color: #e0b0ff;
}
.projects .projectsDetails .projectContainer .projectCard {
  display: flex;
  background: linear-gradient(180deg, #000000, #3b363b, #e0b0ff) !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 15px;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 35px -15px;
}
.projects .projectsDetails .projectContainer .projectCard img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 0 22px black;
  border: double;
}
.projects .projectsDetails .projectContainer .projectCard .linkAndDetail p {
  color: #222121;
}
.projects .projectsDetails .projectContainer .projectCard .linkAndDetail {
  display: flex;
}
.projects
  .projectsDetails
  .projectContainer
  .projectCard
  .linkAndDetail
  .githubLink
  a
  svg {
  width: 3rem;
  height: 2rem;
  margin: 12px 15px;
}
.projects
  .projectsDetails
  .projectContainer
  .projectCard
  .linkAndDetail
  .githubLink
  a
  svg:focus {
  fill: gray;
}
.projects
  .projectsDetails
  .projectContainer
  .projectCard
  .linkAndDetail
  .githubLink
  a
  svg:active {
  fill: var(--clr1);
}
.services {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 20rem;
}
.services .servicesContainer {
}
.services .servicesContainer h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--clr1);
}
.services .servicesContainer .servicesDetail {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2rem;
  margin: 2rem 3rem;
}
.services .servicesContainer .servicesBox {
  background-color: #e0b0ff;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 2rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 0 27px beige;
}
.services .servicesContainer .servicesBox .bi-code-slash {
}
.services .servicesContainer .servicesBox h3 {
}
.services .servicesContainer .servicesBox a {
  text-align: justify;
  text-decoration: none;
  background: black;
  display: i;
  width: 8rem;
  padding: 3px 5px;
  border-radius: 12px;
  border: 2px solid white;
  color: white;
}
.services .servicesContainer .servicesBox a:hover {
  background: gray;
}

/* media query  */

@media (max-width: 925px) {
  .bi-list {
    display: initial;
  }

  .home .nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10rem;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
    position: fixed;
    right: -3rem;
    animation: 1000ms linear 0s 1 normal forwards running fadeInUp;
    margin-bottom: -1rem;
  }
  .home .nav .navLinks {
    display: none;
  }
  .homeDetails {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 4fr 6fr;
    position: relative;
    top: 5rem;
  }
  .homeDetails .homeImg {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3rem;
    left: 0;
  }
  .homeDetails .homeImg img {
    width: 100%;
    height: 100%;
    border: 10px solid black;
    border-radius: 50%;
    box-shadow: rgb(224, 176, 255) 0px 0px 19px 9px;
    animation: 800ms linear 0s 1 normal forwards running leftToRight;
    margin-left: 9rem;
  }
  .homeDetails .homeInfo {
    display: flex;
    position: relative;
    top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 2rem;
    text-align: center;
  }
  .home .nav .heading h2 {
    font-size: 3rem;
  }

  .about .aboutContainer {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
    margin: 1rem 2rem;
    gap: 11rem;
  }
  .about .aboutContainer .aboutDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 1rem;
  }
  .about .aboutContainer .aboutImg img {
    display: none;
  }
  .projects .projectsDetails .projectContainer {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 3rem;
    grid-template-columns: none;
  }
  .projects {
    width: 100%;
    height: 100vh;
    margin-top: 15rem;
  }
  .about {
    width: 100%;
    height: 100vh;
    margin-top: 30rem;
    position: relative;
    top: 20rem;
  }
}

@media (max-width: 500px) {
  .about .aboutContainer .aboutImg img {
    display: initial;
  }
  .homeDetails .homeInfo p {
    color: grey;
    font-size: 1.4rem;
    text-align: justify;
    margin: 0 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
  }
  .about {
    margin-top: 5rem;
    top: 5rem;
  }
  .about .aboutContainer .aboutDetails h3 {
    font-size: 3rem;
    color: var(--clr1);
    text-align: center;
  }
  .about .aboutContainer {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: none;
    margin: 1rem 2rem;
    grid-gap: 4rem;
  }
  .about .aboutContainer .aboutDetails {
    text-align: center;
  }
  .about .aboutContainer .aboutDetails p {
    color: gray;
    text-align: justify;
  }
  .home .nav {
    width: 100%;
    right: -3rem;
    margin-bottom: -2rem;
  }
  .nav .heading h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  .homeDetails .homeInfo p {
    color: grey;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .homeDetails .homeInfo #myName {
    color: var(--clr1);
    font-size: 2.5rem;
  }
  .homeDetails .homeImg {
    left: 0rem;
    margin: -1rem;
    padding: 2rem;
    width: 330px;
    height: 330px;
    top: 3.5rem;
  }
  .homeDetails .homeInfo .btn {
    width: 9rem;
  }
  .homeDetails .homeInfo .homeBtn {
    margin-top: -3rem;
    display: flex;
  }
  .homeDetails .homeInfo {
    display: flex;
    position: relative;
    top: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 2rem;
    text-align: center;
  }
  .homeDetails .homeInfo .homeLines {
    margin-top: 2rem;
  }
  .home .nav .heading h2 {
    font-size: 3rem;
  }
  .homeDetails .homeInfo .socialLinks {
    position: relative;
    top: -1rem;
  }
  .projects .projectsDetails .projectContainer {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 3rem;
  }
  .projects {
    width: 100%;
    height: 100vh;
    margin-top: 35rem;
  }
  .projects .projectsDetails .projectContainer .projectCard {
    display: flex;
    background: #e0b0ff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 15px;
    gap: 1rem;
    margin: 2rem 0rem;
  }
  .services .servicesContainer .servicesDetail {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 2rem;
    margin: 2rem 3rem;
  }
  .services {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 55rem;
  }
}
.home .nav {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1rem;
  flex-wrap: wrap;
  position: fixed;
  right: -3rem;
  animation: fadeInUp 1000ms linear forwards;
  margin-bottom: -1rem;
}

/* animation  */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.6) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */
